@import "src/assets/variables";

.card-section {
  margin-bottom: 70px;

  .card-main {
    margin-bottom: 60px;

    .card-title {
      font-size: 24px;
      font-weight: 700;
      margin-bottom: 15px;
    }

    .card-content {
      display: flex;
    }

    .left-side {
      max-width: 450px;
      width: 100%;
      margin-right: 50px;

      .name-holder {
        background: #fff;
        height: 300px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: $border-radius-large;
        margin-bottom: 35px;

        h3 {
          font-size: 48px;
          font-style: italic;
          letter-spacing: $ls-medium;
          font-weight: 700;
        }
      }

      .pallet-holder {
        display: flex;
        flex-wrap: wrap;

        .pallet {
          display: flex;
          align-self: flex-start;
          border-radius: 3px;
          overflow: hidden;
          margin-right: 40px;
          margin-bottom: 25px;

          &:last-child {
            margin-right: 0;
          }

          &.is-active {
            padding: 3px;
            border: 1px solid $dark;
          }

          .pallet-item {
            width: 40px;
            height: 30px;
          }
        }
      }

      .preview-button {
        height: 60px;
        text-transform: uppercase;
        display: flex;
        justify-content: center;
        align-items: center;
        background: rgba($dark, .1);
        font-weight: 700;
        letter-spacing: $ls-small;
        position: relative;
        cursor: pointer;

        .preview-icon {
          margin-right: 15px;
        }
      }
    }

    .right-side {
      .mb-auto {
        margin-bottom: 25px;
      }

      .typography-block {
        margin-bottom: 70px;

        .text {
          max-width: 650px;
        }
      }

      .colors {
        display: flex;
        margin-bottom: 35px;

        &-item {
          width: 40px;
          height: 40px;
          border-radius: 50%;
          margin-right: 25px;

          &:last-child {
            margin-right: 0;
          }
        }
      }

      .gradient-range {
        height: 10px;
        border-radius: $border-radius;
        width: 430px;
      }
    }
  }

  .card-accordion {
    width: 100%;
    background: rgba($dark, .1);
    border-radius: $border-radius-large;
    height: 0;
    transition: height 3s ease-in-out;
    overflow: hidden;

    &.is-open {
      height: auto;
      transition: height 3s ease-in-out;
    }

    &-content {
      padding: 30px 70px 30px 30px;
    }

    .navigation {
      display: flex;
      margin-bottom: 50px;

      .day-mode {
        margin-right: 50px;
        cursor: pointer;
      }

      .mode-buttons {
        display: flex;
        width: 220px;
        border-radius: $border-radius;
        overflow: hidden;

        .button {
          display: flex;
          align-items: center;
          width: 100%;
          justify-content: center;
          background: #ffffff;
          cursor: pointer;

          &.is-active {
            color: #ffff;
            background: $dark;

            path {
              fill: #ffffff;
            }
          }

          svg {
            margin-right: 10px;
          }
        }
      }

      .close-preview {
        font-size: 14px;
        font-weight: 700;
        display: flex;
        align-items: center;
        margin-left: auto;
        cursor: pointer;

        .preview-icon {
          margin-right: 10px;
        }
      }
    }

    .content {
      .row {
        display: flex;
      }

      .block {
        margin-bottom: 30px;

        &-font {
          display: flex;
          flex-wrap: wrap;
          width: 500px;
          margin-right: 150px;

          .link {
            margin-left: auto;
            display: flex;
            align-items: center;
            font-size: 14px;
            text-decoration: underline;
            cursor: pointer;
            position: relative;
            padding-right: 70px;

            svg {
              margin-left: 10px;
            }

            .copy-text {
              position: absolute;
              right: 0;
              color: $blood-red;
              font-weight: 500;
            }

            &:hover, &:active, &:focus {
              color: $blue;

              svg * {
                fill: $blue;
              }
            }
          }
        }

        &-colors {
          .row {
            display: flex;

            .color-item {
              width: 105px;
              margin-right: 25px;
              border-radius: $border-radius $border-radius 0 0;
              overflow: hidden;
              background: #fff;
              text-align: center;
              font-size: 12px;
              line-height: $lh-medium;
              position: relative;

              &:last-child {
                margin-right: 0;
              }

              .copy-btn {
                position: absolute;
                top: 5px;
                right: 5px;
                cursor: pointer;
              }

              .fill {
                height: 50px;
                width: 100%;
              }
            }
          }
        }
      }

      .subheadline--content {
        margin-bottom: 20px;
        width: 100%;
      }
    }
  }
}

.card-accordion {
  &.night {
    filter: invert(100%) !important;
  }
}