//Responsive
$tablet: 768px;
$laptop: 1024px;
$desktop: 1440px;


//Colors
$dark: #444444;
$light: #FCFCFC;
$dark-muted: rgba($dark, .5);
$blue: #487BFF;
$blood-red: #9A120A;

$border-radius: 5px;
$border-radius-large: 10px;

$ls-small: .5px;
$ls-medium: 1px;

$lh-medium: 1.6;
